body{
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.weather-web {
  background-color: #ffffff;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border: 1px solid;
  display: block;
  border-radius: 16px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: #1291DE;
}
header {
  border: 1px solid #f9f7fe ;
  padding: 0 0 30px 0;
}

a{
  color: blue;
}
.search-input-form{
  background-color: whitesmoke;
  padding: 15px 20px ;
  border: none;
  border-radius: 6px;
  width:80%;
  font-size: 16px;
}

.search-form-button{
  background-color: lightseagreen;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  font-size:16px;
  color: white;
  margin-left: 6px;
}

footer{
  border-top: 1px solid  #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 13px;
  color:rgba(0,0,0,0.6);
}

main{
  padding: 30px 0;
}
.weather-data{
      display: flex;
      justify-content: space-between;
}
.weather-web-details{
  margin:0;
  font-size: 38px;
  line-height: 48px;

}
.weather-web-city{
  font-size: 16px;
  color: rgba(39,33,66,0.4);
  line-height: 24px;
  font-weight: 500;

}
.weather-web-city strong{
  color:red;
}
.weather-web-container{
  display:flex;
}
.weather-web-temperature{
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
  margin-left: 10px;
}

.weather-web-icon{
  font-size:88px;
  height: 88px;
}

.weather-web-unit{
  margin-top: 16px;
  font-size: 28px;
}